<h1>Welcome to the Nested Forms Lab!</h1>
<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Student Grade: <input type="text" name="student[grade]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form>

<label for="male">Male</label>
  <input type="radio" name="gender" id="male" value="male">