<h1>Welcome to the Nested Forms Lab!</h1>
<form action="/pirates" method="post">
  <label for="pirate_name">Pirate Name: </label>
  <input type="text" id="pirate_name" name="pirate[name]">
  <label for="pirate_weight">Pirate Weight: </label>
  <input type="text" id="pirate_weight" name="pirate[weight]">
  <label for="pirate_height">Pirate Height: </label>
  <input type="text" id="pirate_height" name="pirate[height]">
  
  <label for="ship_name">Ship Name: </label>
  <input type="text" id="ship_name" name="pirate[ships][][name]">
  <label for="ship_type">Ship Type: </label>
  <input type="text" id="ship_type" name="pirate[ships][][type]">
  <label for="ship_booty">Ship Booty: </label>
  <input type="text" id="ship_booty" name="pirate[ships][][booty]">
  
  <input type="submit">
</form>
