<h1>Welcome to the Nested Forms Lab!</h1>
<form action="/pirates" method="post">
  <label for="pirate_name">Pirate Name: </label>
  <input type="text" id="pirate_name" name="pirate[name]">
  <label for="pirate_weight">Pirate Weight: </label>
  <input type="text" id="pirate_weight" name="pirate[weight]">
  Student Grade: <input type="text" name="student[grade]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form>

<label for="name">
  Name: <input type="text" id="name" name="user_name">
</label>