<h1>Welcome to the Nested Forms Lab!</h1>
<form action="/pirates" method="post">
  <label for="pirate_name">Pirate Name: </label>
  <input type="text" id="pirate_name" name="pirate[name]">
  <label for="pirate_weight">Pirate Weight: </label>
  <input type="text" id="pirate_weight" name="pirate[weight]">
  <label for="pirate_height">Pirate Height: </label>
  <input type="text" id="pirate_height" name="pirate[height]">
  
  <label for="ship_name">Ship Name: </label>
  <input type="text" id="ship_name" name="pirate[ship][][name]">
  <label for="pirate_weight">Ship Type: </label>
  <input type="text" id="pirate_weight" name="pirate[weight]">
  <label for="pirate_weight">Ship Booty: </label>
  <input type="text" id="pirate_weight" name="pirate[weight]">
  
  
  
  
  Student Grade: <input type="text" name="student[grade]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form>
