<h1>Welcome to the Nested Forms Lab!</h1>

<form action="/pirates" method="post">
  <h2>Pirates</h2>
  <label for="pirate_name">Pirate Name: </label><br>
  <input type="text" id="pirate_name" name="pirate[name]"/><br>
  <label for="pirate_weight">Pirate Weight: </label><br>
  <input type="text" id="pirate_weight" name="pirate[weight]"/><br>
  <label for="pirate_height">Pirate Height: </label><br>
  <input type="text" id="pirate_height" name="pirate[height]"/><br>
  
  <h2>Ships</h2>
  <label for="ship_name_1">Ship Name: </label><br>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]"/><br>
  <label for="ship_type_1">Ship Type: </label><br>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]"/><br>
  <label for="ship_booty_1">Ship Booty: </label><br>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"/><br>
  
  <label for="ship_name_2">Ship Name: </label><br>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]"/><br>
  <label for="ship_type_2">Ship Type: </label><br>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]"/><br>
  <label for="ship_booty_2">Ship Booty: </label><br>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"/><br>
  
  <input type="submit" value="submit">
</form>
